Plugins>Stowers>Jay_Unruh>Misc Tools,"adjust color balance jru v1",adjust_color_balance_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"measure trajectories jru v1",measure_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"id mother lineage jru v1",id_mother_lineage_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"dna damage analysis jru v1",dna_damage_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"dna damage FRET analysis jru v2",dna_damage_FRET_analysis_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"dna damage analysis multicolor jru v1",dna_damage_analysis_multicolor_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"linear unmixing jru v2",linear_unmixing_jru_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"trajectories 2 flowmap jru v1",trajectories_2_flowmap_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"count max not mask jru v1",count_max_not_mask_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"Create Plugin jru v1",Create_Plugin_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"overlay image jru v1",overlay_image_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"set multi plot offsets jru v1",set_multi_plot_offsets_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"make inset jru v1",make_inset_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"filter 3D objects jru v1",filter_3D_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"object measure 3D jru v1",object_measure_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"convert to mask jru v1",convert_to_mask_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit RICS jru v2",fit_RICS_jru_v2
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"check track alignment jru v1",check_track_alignment_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"duplicate trajectory jru v1",duplicate_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"propagate errors jru v1",propagate_errors_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"filter channel contributions jru v1",filter_channel_contributions_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get window class info jru v1",get_window_class_info_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"merge all stacks jru v1",merge_all_stacks_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"search slice labels jru v1",search_slice_labels_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"close table jru v1",close_table_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"jay stitching plugin jru v1",jay_stitching_plugin_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"stitch mosaic image jru v1",stitch_mosaic_image_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"divide by blurred jru v1",divide_by_blurred_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"adaptive threshold jru v2",adaptive_threshold_jru_v2
Plugins>Stowers>Jay_Unruh>File Tools,"batch file open jru v1",batch_file_open_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"set min max all chan jru v1",set_min_max_all_chan_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"set lut ranges jru v1",set_lut_ranges_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"add random rois jru v1",add_random_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"object area centroid surface 3D jru v1",object_area_centroid_surface_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"fit traj gaussian gridsearch jru v1",fit_traj_gaussian_gridsearch_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"auto roll ball back sub jru v1",auto_roll_ball_back_sub_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"remove dark pixels jru v1",remove_dark_pixels_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"rename table jru v1",rename_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"export table jru v1",export_table_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"channel math jru v1",channel_math_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"stitch pe library jru v2",stitch_pe_library_jru_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"loess smooth jru v1",loess_smooth_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit traj double gaus jru v1",fit_traj_double_gaus_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"histogram 2D spectral phasor jru v1",histogram_2D_spectral_phasor_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight custom converter jru v1",flowsight_custom_converter_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight fret map jru v1",flowsight_fret_map_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight outside puncta conc jru v1",flowsight_outside_puncta_conc_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight stack importer jru v1",flowsight_stack_importer_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"export flowcyte jru v1",export_flowcyte_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"import flowcyte jru v1",import_flowcyte_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"dump tiff tags jru v1",dump_tiff_tags_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"object measure jru v1",object_measure_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"add table column string jru v1",add_table_column_string_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"delete table column jru v1",delete_table_column_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"combine tables jru v1",combine_tables_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get metadata tag jru v1",get_metadata_tag_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom yeast nuclear table jru v2",custom_yeast_nuclear_table_jru_v2
Plugins>Stowers>Jay_Unruh>Batch Tools,"heatmap jru v1",heatmap_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"autoscale stack jru v1",autoscale_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"create montages from table jru v1",create_montages_from_table_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"flatten shifted labels jru v1",flatten_shifted_labels_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v1",segment_nucleoli_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask 3D jru v1",track_max_not_mask_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"test sedt jru v1",test_sedt_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"roi 2 traj jru v1",roi_2_traj_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"roi 2 traj3D jru v1",roi_2_traj3D_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"set 3D shapes jru v1",set_3D_shapes_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"fit custom ring jru v1",fit_custom_ring_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"coord transformation jru v1",coord_transformation_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom image transformation jru v1",custom_image_transformation_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"batch LOCI converter jru v2",batch_LOCI_converter_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"channel alignment jru v1",channel_alignment_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"channel alignment z jru v1",channel_alignment_z_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"find circular background jru v1",find_circular_background_jru_v1
Help>About Plugins,"show plugins list jru v1",show_plugins_list_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit FRAP jru v1",fit_FRAP_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"contour selection jru v1",contour_selection_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"export emf image rois jru v1",export_emf_image_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"rois 2 objects jru v1",rois_2_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filter table spatial rois jru v1",filter_table_spatial_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"multi point roi 2 roimanager jru v1",multi_point_roi_2_roimanager_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"stitch stics jru v1",stitch_stics_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"kernel density est jru v1",kernel_density_est_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask jru v2",track_max_not_mask_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"make subtable jru v1",make_subtable_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom yeast nuclear table jru v4",custom_yeast_nuclear_table_jru_v4
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom yeast nuclear table jru v5",custom_yeast_nuclear_table_jru_v5
Plugins>Stowers>Jay_Unruh>Sim Tools,"sim kt tracking jru v1",sim_kt_tracking_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"find single double spots jru v1",find_single_double_spots_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"merge channels jru v1",merge_channels_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"open pe library tiles jru v1",open_pe_library_tiles_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filter table jru v2",filter_table_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"duplicate table jru v1",duplicate_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"new table jru v1",new_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"add table row jru v1",add_table_row_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get crypt xz profile jru v1",get_crypt_xz_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"separate all frames jru v1",separate_all_frames_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit multi gaussian jru v4",fit_multi_gaussian_jru_v4
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy plot custom jru v1",copy_plot_custom_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"transmission 2 absorbance jru v1",transmission_2_absorbance_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"import jfcs jru v1",import_jfcs_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"find carpet max column jru v1",find_carpet_max_column_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"realign movie z jru v1",realign_movie_z_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"batch plate analysis jru v1",batch_plate_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"add row numbers jru v1",add_row_numbers_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"close all tables jru v1",close_all_tables_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"edit column labels jru v1",edit_column_labels_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"hist 2D 2 1D gated jru v1",hist_2D_2_1D_gated_jru_v1
Plugins>Stowers>Jay_Unruh>Binding Analysis,"fit stretched exp jru v1",fit_stretched_exp_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"generate hist image gate jru v1",generate_hist_image_gate_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get hist image jru v1",get_hist_image_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"fill roi float jru v1",fill_roi_float_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"dilate color jru v1",dilate_color_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"pair correlation function jru v1",pair_correlation_function_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get crypt xz profile jru v2",get_crypt_xz_profile_jru_v2
Plugins>Stowers>Jay_Unruh>Sim Tools,"simulate npcs jru v1",simulate_npcs_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get imaris dataset jru v1",get_imaris_dataset_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret analysis jru v1",custom_amfret_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"dump table 2 stdout jru v1",dump_table_2_stdout_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret gate generation jru v1",custom_amfret_gate_generation_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"realign npcs jru v1",realign_npcs_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get loci objective info jru v1",get_loci_objective_info_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"wrap angle profile jru v1",wrap_angle_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v2",segment_nucleoli_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v3",segment_nucleoli_jru_v3
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret gate generation jru v2",custom_amfret_gate_generation_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret analysis jru v2",custom_amfret_analysis_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"set white balance jru v1",set_white_balance_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"filter largest objects jru v1",filter_largest_objects_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"get 2D hist roi coords jru v1",get_2D_hist_roi_coords_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"apply gamma jru v1",apply_gamma_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"search plot annotations jru v1",search_plot_annotations_jru_v1
Plugins>Stowers>Jay_Unruh>Deconvolution Tools,"convolve 3D",convolve_3D
Plugins>Stowers>Jay_Unruh>Deconvolution Tools,"generate rings",generate_rings
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack real FFT jru v1",stack_real_FFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"complex iFFT jru v1",complex_iFFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack real 3D FFT jru v1",stack_real_3D_FFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack real 3D iFFT jru v1",stack_real_3D_iFFT_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"edf jru v1",edf_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v4",segment_nucleoli_jru_v4
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"filter point pairs jru v1",filter_point_pairs_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"filter point triples jru v1",filter_point_triples_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"table listener jru v1",table_listener_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"batch convert flowcyte jru v1",batch_convert_flowcyte_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track cells phase jru v1",track_cells_phase_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"random number generator jru v1",random_number_generator_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"measure 3D jru v1",measure_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask fast jru v1",track_max_not_mask_fast_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask 3D fast jru v1",track_max_not_mask_3D_fast_jru_v1